.dropdown-item:focus,
.dropdown-item:active {
  outline: none; /* Remove the outline */
  background-color: transparent; /* Remove the background color */
  color: inherit; /* Keep text color unchanged */
}
