.navbar-nav .nav-item:hover {
  border-bottom: 1px solid #498cf0; /* White border-bottom, adjust the color as needed */
}

.dropdown-menu-custom li:hover {
  background-color: #108fca; /* Hover effect for dropdown items */
}

.nav-link {
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  transition: border-bottom 0.3s ease; /* Smooth transition */
}
