.active-link {
  background-color: #89cff0 !important;
}
.sidebar-nav-link {
  color: inherit;
  text-decoration: none;
}

.sidebar-nav-link:hover {
  background-color: #b2e0f5;
}

.active-link {
  color: #508d4e !important;
}
