.sidebar-nav-link {
  display: flex;
  align-items: center;
}

.sidebar-nav-link i {
  color: white; /* Default icon color */
  margin-right: 10px;
  font-size: 20px;
}

.sidebar-nav-link:hover,
.sidebar-nav-link.active-link {
  color: #343a40; /* Dark color for hover and active states */
}

.sidebar-nav-link:hover i,
.sidebar-nav-link.active-link i {
  color: #343a40; /* Dark color for the icon on hover and active states */
}
